* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 1;
}

html, body {
  height: 100vh;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  padding: 20px 10px 0 10px;
  max-width: 600px;
  margin: 0 auto;
}
.title {
  color: #7e6e71;
  text-align: center;
}