.check {
  &__input {
    position: absolute;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:checked + .check__box {
      background: #b981a8 url('../../assets/imgs/check.svg') center no-repeat;
    }
    &:focus + .check__box {
      box-shadow: 0 0 0 0.1em #000000;
    }
  }
  &__box {
    position: absolute;
    left: 10px;
    padding: 2px;
    width: 1.2em;
    height: 1.2em;
    border-radius: 4px;
    border: 1px solid #b981a8;
    cursor: pointer;
  }
}